@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?2kvdpl');
  src:  url('assets/fonts/icomoon.eot?2kvdpl#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?2kvdpl') format('truetype'),
    url('assets/fonts/icomoon.woff?2kvdpl') format('woff'),
    url('assets/fonts/icomoon.svg?2kvdpl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e904";
  color: #7289da;
}
.icon-node-dot-js:before {
  content: "\e900";
  color: #393;
}
.icon-document-code:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-file-php:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\f095";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-phone1:before {
  content: "\e942";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-youtube:before {
  content: "\ea9d";
}

